<%# METADATA %>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<%# SEO %>
<title>Form Crow</title>
<meta name="description" content="Conversion rate optimized embeddable forms for any website">
<%# STYLES/SCRIPTS %>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora|Roboto:700">
<link rel="stylesheet" href="/stylesheets/styles.css">
<script src='widget/formcrow.js'></script>
