<nav class="nav">
  <a class="nav__logo" href="/">
    <img src="/images/FormCrowLogo.svg" />
    <h1>Form Crow</h1>
  </a>
  <ul class="nav__list">
    <% if (!subscribed & authed) { %>
      <li><a href="/upgrade">Upgrade</a></li>
    <% } %>
    <% if (authed) { %>
      <li><a href="/users/settings">Settings</a></li>
    <li><a href="/users/logout">Log out</a></li>
    <% } else { %>
    <li><a href="/users/login">Login</a></li>
    <li><a href="/users/signup">Signup</a></li>
    <% } %>
  </ul>
</nav>
<% if (locals.flash) { %>
  <div class="<%= flash.type %>"">
    <p><%- flash.message %></p>
  </div>
<% } %>
