<nav class="app__nav">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/dashboard">Dashboard</a></li>
    <li><a href="/users/logout">Log out</a></li>
    <li><a href="/users/login">Login</a></li>
    <li><a href="/users/signup">Signup</a></li>
  </ul>
</nav>
