<nav class="nav">
  <div class="nav__logo">
    <img src="images/FormCrowLogo.svg" />
    <h1>Form Crow</h1>
  </div>
  <ul class="nav__list">
    <li><a href="/">Home</a></li>
    <li><a href="/dashboard">Dashboard</a></li>
    <li><a href="/users/logout">Log out</a></li>
    <li><a href="/users/login">Login</a></li>
    <li><a href="/users/signup">Signup</a></li>
  </ul>
</nav>
