<div class="card card--free">
  <h2 class="card__title">Free Features</h2>
  <div class="card__sticker">Free!</div>
  <ul class="card__features">
    <li>Automatically generate beautiful forms</li>
    <li><strong>Unlimited</strong> lead submissions</li>
    <li>Embeds into any website</li>
    <li>Prevents email scrapers</li>
    <li>Collects abandoned Form data</li>
    <li>Recieve daily lead reports</li>
  </ul>
</div>
<div class="card card--paid">
  <h2 class="card__title">Paid Beta</h2>
  <div class="card__sticker"><span>$10/mo</span></div>
  <ul class="card__features">
    <li>Geolocation</li>
    <li>Email forward leads</li>
    <li>CSV Exporting</li>
  </ul>
</div>
