<div class="feature">
  <div class="feature--free">
    <h2 class="feature__title">Free Features</h2>
    <div class="feature__sticker">Free!</div>
    <ul class="feature__list">
      <li>Automatically generate beautiful forms</li>
      <li><strong>Unlimited</strong> lead submissions</li>
      <li>Embeds into any website</li>
      <li>Prevents email scrapers</li>
      <li>Collects abandoned Form data</li>
      <li>Recieve daily lead reports</li>
    </ul>
  </div>
  <div class="feature--paid">
    <h2 class="feature__title">Paid Beta</h2>
    <div class="feature__sticker"><span>$10/mo</span></div>
    <ul class="feature__list">
      <li>Geolocation</li>
      <li>Email forward leads</li>
      <li>CSV Exporting</li>
      <li>Support Future Development</li>
    </ul>
  </div>
</div>
