<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body class="app">
    <header>
      <% include partials/header %>
    </header>

    <main>
      <section class="hero">
        <h1>Contact Us</h1>
      </section>
      <section class="content">
        <form-crow query="What would you like to talk about?" prime_color="#6399A8" uid="5b3dea9e20917170ee2eb3a7"/></form-crow>
      <section>
    </main>

    <footer>
      <% include partials/footer %>
    </footer>

  </body>
</html>
