<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src='/javascripts/vue-color.min.js'></script>
  </head>
  <body class="app">
    <header>
      <% include partials/header %>
    </header>

    <main>
    <div class="create">
      <div id="new-crow">
        <h2>Create New Form Widget</h2>
        <button class="create__action" v-on:click="generateCrow">Generate a widget</button>
        <h4>1. Ask customers your most important question</h4>
          <div class="error">{{error}}</div>
          <input class="create__input" v-model="query" type="text" name="query" autocomplete="off"/>
        <h4>2. Pick a primary color scheme</h4>
        <div class="create__picker">
          <sketch-picker v-model="colors" />
        </div>
      </div>
    </div>
    </main>

    <footer>
      <% include partials/footer %>
    </footer>

    <script>
      var Sketch= VueColor.Sketch
      var colors = '#194d33'
      new Vue({
        el: '#new-crow',
        components: {
          'sketch-picker': Sketch
        },
        data () {
          return {
            colors,
            query: "",
            user: "<%- userId %>",
            error: ""
          }
        },
        methods: {
          generateCrow(){
            if(!this.query){
              this.error="Please fill in an awesome question!";
              return
            }
            let that = this
            fetch('http://localhost:3000/query', {
              method: 'post',
              headers: {
              'Accept': 'application/json, text/plain, */*',
              'Content-Type': 'application/json'
            },
              body: JSON.stringify({query: that.query, color: that.colors, user: that.user})
            }).then(res=>res.json())
            .then(res => {
              window.location="http://localhost:3000/dashboard/" + res._id
            });
          },
      }
      })
    </script>

  </body>
</html>
