<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body class="app">
    <header>
      <% include partials/header %>
    </header>



    <main>

      <ul>
        <% query.forEach(function(entry) { %>
          <li class="color">
            <%= entry.query %>
          </li>
        <% }); %>
      </ul>


      <a href="/dashboard/">Go Back</a>

    </main>

    <footer>
      <% include partials/footer %>
    </footer>

  </body>
</html>
