<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body class="app">
    <header>
      <% include partials/header %>
    </header>

    <main>
      <form action="query" method="POST">
        <label for="query">Ask customers a new question</label>
        <input type="text" placeholder="What do you want to know?" name="query" />
        <button type="submit">Create New Form</button>
      </form>

      <ul>
        <% queries.forEach(function(entry) { %>
          <li class="color">
            <%= entry.query %>
            <a href="/dashboard/<%= entry._id %>">View</a>
          </li>
        <% }); %>
      </ul>
    </main>

    <footer>
      <% include partials/footer %>
    </footer>

  </body>
</html>
