<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body class="app">
    <header>
      <% include partials/header %>
    </header>

    <main>
      <div class="dashboard">

        <div class="dashboard__action">
          <a href="/dashboard/create">Create a new form →</a>
        </div>

        <ul class="dashboard__submissions">
          <% queries.forEach(function(entry) { %>
            <li style="border-left: 5px solid <%= entry.color %>">
              <%= entry.query %>
              <a href="/dashboard/<%= entry._id %>">View</a>
            </li>
          <% }); %>
        </ul>
      </div>
    </main>

    <footer>
      <% include partials/footer %>
    </footer>

  </body>
</html>
