extends layout

block content
  header
    form(action="/users/logout" method="GET")
      button(type='submit') Logout
  p Content Block
  form(action="/query" method="POST")
    label(for='query') Query:
    input(type='text', placeholder='What is your question?' name='query')

    button(type='submit') Create new Form

  ul
    each item, index in queries
      li= item.query
