<!DOCTYPE html>
<html lang="en">
  <head>
    <% include /../partials/head %>
  </head>
  <body class="content">
    <header>
      <% include /../partials/header %>
    </header>

    <main>
      <div class="guide">
        <h1 class="guide__title">How to Write a Good Question</h1>
        <h4 class="guide__subtitle">A good question makes users want to stop and answer.</h4>
        <div class="guide__content">
          <p>The hardest part about making a Form Crow is asking a good question.</p>
        </div>
      </div>
    </main>

    <footer>
      <% include /../partials/footer %>
    </footer>

  </body>
</html>
