<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body class="app">
    <header>
      <% include partials/header %>
    </header>

    <main>
      <form-crow query="What would help your business get more leads?" prime_color="#fafafa"/></form-crow>
    </main>

    <footer>
      <% include partials/footer %>
    </footer>

  </body>
</html>
