<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body class="app">
    <header>
      <% include partials/header %>
    </header>

    <main>
      <section class="home">

        <div class="card__form">
          <form-crow query="What would help get your business more leads?" prime_color="#3EC3A6" uid="5b475573a9d98a3a07e67777"/></form-crow>
        </div>
        <p class="card__explanation card__explanation--mint">this is a form crow. it’s a form that asks one thoughtful question, then collects contact information.</p>

        <div class="card__form">
          <script src='formcrow.com/widget/formcrow.js'></script>
<form-crow query="What kind of conversations do you need to have with your customers?" prime_color="#A78A98" uid="5b5b18392371c72a97ce6235"/></form-crow>
        </div>
        <p class="card__explanation card__explanation--reddy">the goal is to start a conversation with context and interest. we kickstart real human connection with conversational marketing.</p>

        <div class="code">
          <div class="code__header">
            <div class="code__button code__button--red"></div>
            <span class="code__button code__button--yellow"></span>
            <span class="code__button code__button--green"></span>
            <span class="code__title">2-lines-of-code.html</span>
          </div>
          <div class="code__body">
            <code>&lt;script src='formcrow.com/widget/formcrow.js'>&lt;/script></code>
            <br><br>
            <code>&lt;form-crow query="What would help your business get more leads?" prime_color="#001D2E"/>&lt;/form-crow></code>
          </div>
        </div>

        <p class="card__explanation card__explanation--white">simple to implement. you copy and paste 2 lines of code we generate for you.<br><br> customize color and questions to make your form unique.</p>

      <% include partials/home/cards %>
    </section>
    </main>

    <footer>
      <% include partials/footer %>
    </footer>

  </body>
</html>
