<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body class="app">
    <header>
      <% include partials/header %>
    </header>

    <main class="home">
      <% include partials/home/cards %>
      <div class="home__form">
        <form-crow query="What would help your business get more leads?" prime_color="#001D2E"/></form-crow>
        <p class="home__try">Try it out!</p>
      </div>
      <div class="home__code">
        <div class="code__header">
          <div class="code__button--red">
          </div>
          <div class="code__button--yellow">
          </div>
          <div class="code__button--green">
          </div>
          <span>2-lines-of-code.html</span>
        </div>
        <div class="code__body">
          <code>&lt;script src='formcrow.com/widget/formcrow.js'>&lt;/script></code>
          <br><br>
          <code>&lt;form-crow query="What would help your business get more leads?" prime_color="#001D2E"/>&lt;/form-crow></code>
        </div>
      </div>

    </main>

    <footer>
      <% include partials/footer %>
    </footer>

  </body>
</html>
