<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body class="app">
    <header>
      <% include partials/header %>
    </header>

    <main class="home">
      <div class="hero">
        <h2>Generate forms and get leads</h2>
        <h4>Form Crow is an embeddable web form that makes lead collection simple.</h4>
        <img src="/images/SimplifyForms.svg" />
      </div>

        <h2>Try Form Crow</h2>
        <script src='formcrow.com/widget/formcrow.js'></script>
        <form-crow query="What would help your business get more leads?" prime_color="#6399A8" uid="5b3dea9e20917170ee2eb3a7"/></form-crow>
        <img width=150 src="/images/TryIt.svg" />

        <h2>Start collecting leads in 5 minutes</h2>
        <div class="instruction">
          <div class="instruction__circle"><span class="instruction__number">1</span></div>
          <span class="instruction__step">Ask your customers the right question</span>
        </div>
        <div class="instruction">
          <div class="instruction__circle"><span class="instruction__number">2</span></div>
          <span class="instruction__step">Generate the simple 2 lines of code</span>
        </div>
        <div class="instruction">
          <div class="instruction__circle"><span class="instruction__number">3</span></div>
          <span class="instruction__step">Embed and enjoy</span>
        </div>

      <% include partials/home/cards %>
      <div class="home__form">
        <p class="home__try">Try it out!</p>
      </div>
      <div class="home__code">
        <div class="code__header">
          <div class="code__button--red">
          </div>
          <div class="code__button--yellow">
          </div>
          <div class="code__button--green">
          </div>
          <span>2-lines-of-code.html</span>
        </div>
        <div class="code__body">
          <code>&lt;script src='formcrow.com/widget/formcrow.js'>&lt;/script></code>
          <br><br>
          <code>&lt;form-crow query="What would help your business get more leads?" prime_color="#001D2E"/>&lt;/form-crow></code>
        </div>
      </div>

    </main>

    <footer>
      <% include partials/footer %>
    </footer>

  </body>
</html>
