<% include partials/head %>
<% include partials/header %>
<form action="/users/signup" method="POST">
  <label for="email">Email</label>
  <input type="text" placeholder="user@mail.com" name="email" />

  <label for="password">Password</label>
  <input type="password" name="password" />

  <button type="submit">Sign up</button>
</form>
