<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body class="app">
    <header>
      <% include partials/header %>
    </header>

    <main>
      <div class="guide">
        <h1 class="guide__title">Why Form Crow?</h1>
        <h4 class="guide__subtitle">Form Crow is the ultimate tool to gather leads without wasting anyone's time. Not yours. Not your customers.</h4>
        <div class="guide__content">
          <p>The name stands for Form Conversion Rate Optimized Widget. That is exactly what we set out to build.</p>
          <p>Web forms are annoying to handle and can be sources of security trouble, spam, and bad conversion rates. The conversion rate optimized widget is built to do two things. (1)Ask a simple question and (2)Collect as much information as possible from a limited user response.</p>
          <p>Forms turn people off. Especially with every other website splashing popups immediately on landing pages.</p>
          <p>Instead of collecting massive amounts of irrellevant information, we collect just enough to start a conversation. Then the conversation can be used to start sales, begin friendships, or gather user experience data.</p>
          <p>Form Crow is simple to create and embed so you can spread it around like seeds waiting to sprout success for your business.</p>
          <p>There are many other form generators or tools out there, but none of them offer so much for free or such a simple and quick way to get high CRO qualified leads</p>
        </div>
      </div>
    </main>

    <footer>
      <% include partials/footer %>
    </footer>

  </body>
</html>
