<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body class="app">
    <header>
      <% include partials/header %>
    </header>

    <main>
      <div class="guide">
        <h1 class="guide__title">Why Form Crow?</h1>
        <h4 class="guide__subtitle">Form Crow is the ultimate tool to gather leads without wasting anyone's time. Not yours. Not your customers.</h4>
        <div class="guide__content">
          <p>The name stands for Form (C)onversion (R)ate (O)ptimized (W)idget. It is a simple generator that creates pluggable optimized forms.</p>
          <p>The form itself is optimized for UX, UI, and CRO. It is architected to do two things. (1)Ask a simple question and (2)Collect as much information as possible from a limited user response.</p>
          <p>The only hard part about our forms is coming up with a good question. No security worries. No spammers collecting your email. No bad conversion rates.</p>
          <p>Instead of collecting massive amounts of irrellevant information, we collect just enough to start a conversation. Then the conversation can be used to start sales, begin friendships, or gather user experience data.</p>
          <p>There are many other form generators or tools out there, but none of them offer so much for free or such a simple and quick way to get high CRO qualified leads</p>
        </div>
      </div>
      <div class="guide">
        <h1 class="guide__title">Other Form Generators</h1>
        <h4 class="guide__subtitle">We want you to love your form as a service.</h4>
        <div class="guide__content">
          <p>Our forms are great and we can make a strong case for using them. However, there are other form generator options out there. Not all of them match the Crow's features, but they all allow more customization.</p>
          <p>Customization is a blessing and a curse. As you build forms, they take more time and conversion rate fluxes. We keep it simple for the sake of the conversion.</p>
          <p>If you need more than what we offer, here are more form generators you might be interested in.</p>
          <ul>
            <li><a href="https://www.formbackend.com/">Form Backend</a></li>
            <li><a href="https://formcarry.com/">Form Carry</a></li>
            <li><a href="https://liveformhq.com/">Live Form HQ</a></li>
            <li><a href="https://formkeep.com/">Form Keep</a></li>
            <li><a href="https://www.jotform.com/">Jot Form</a></li>
            <li><a href="https://www.wufoo.com/">Wufoo</a></li>
            <li><a href="https://form.io/#/">Form.io</a></li>
            <li><a href="https://formspree.io/">Form Spree</a></li>
            <li><a href="https://formden.com/">Form Den</a></li>
          </ul>
        </div>
      </div>
    </main>

    <footer>
      <% include partials/footer %>
    </footer>

  </body>
</html>
