*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  width: 100%; }
  html ::selection,
  body ::selection {
    background: #f4f3a8; }
  html ::-moz-selection,
  body ::-moz-selection {
    background: #f4f3a8; }

html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  font-family: Lora, serif;
  margin: 0;
  font-size: 16px;
  line-height: 29px;
  color: #2f2f2f; }

h1, h2, h3, h4, h5 {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  text-transform: none;
  font-style: inherit;
  line-height: 29px;
  margin-top: 0;
  margin-bottom: 29px;
  color: black; }
  h1 small, h2 small, h3 small, h4 small, h5 small {
    font-family: Lora, serif;
    display: block;
    margin-top: 7.25px; }

@media screen and (min-width: 768px) {
  h1,
  .fs-h1 {
    font-size: 37.89749px;
    line-height: 58px; } }

@media screen and (max-width: 767px) {
  h1,
  .fs-h1 {
    font-size: 22.78125px; } }

@media screen and (min-width: 768px) {
  h2,
  .fs-h2 {
    font-size: 28.43022px;
    line-height: 43.5px; } }

@media screen and (max-width: 767px) {
  h2,
  .fs-h2 {
    font-size: 20.25px; } }

@media screen and (min-width: 768px) {
  h3,
  .fs-h3 {
    font-size: 21.328px;
    line-height: 43.5px; } }

@media screen and (max-width: 767px) {
  h3,
  .fs-h3 {
    font-size: 18px; } }

h4,
.fs-h4,
.fs-base {
  font-size: 16px; }

@media screen and (min-width: 768px) {
  h5,
  small,
  button,
  .fs-h5,
  .fs-small {
    font-size: 12.003px; } }

@media screen and (max-width: 767px) {
  h5,
  small,
  button,
  .fs-h5,
  .fs-small {
    font-size: 14.22222px; } }

p, ul, ol, pre, table, blockquote {
  margin-top: 0;
  margin-bottom: 29px; }

ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0; }

b, strong, em, small, code {
  line-height: inherit; }

a {
  color: #626d68;
  transition: color .5s; }
  a:hover {
    color: #001D2E;
    transition: color .5s; }

figure {
  margin: 0; }
  figure img {
    max-width: 100%; }

code {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  margin: 0;
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text; }

.app {
  position: relative;
  min-height: 100vh;
  background: #EEF3F2; }
  .app__header {
    display: block; }
  .app__body {
    display: block;
    grid-column-start: 2; }
  .app__footer {
    padding: 29px 29px 58px 29px;
    grid-column-start: 2;
    color: #bbb; }
  .app__section {
    overflow: hidden;
    padding: 29px;
    grid-column-start: 2; }
  .app__textblock {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    padding: 29px;
    margin: 29px; }
  .app h1, .app h2, .app h3, .app h4, .app h5 {
    text-align: center; }

.error {
  background: #965151;
  color: white;
  text-align: center;
  font-family: "Roboto", sans-serif;
  grid-column-start: 1;
  grid-column-end: 4; }
  .error p {
    height: 0; }

.success {
  background: #39535d;
  color: white;
  text-align: center;
  font-family: "Roboto", sans-serif;
  grid-column-start: 1;
  grid-column-end: 4; }
  .success p {
    height: 0; }

main {
  display: grid;
  grid-template-columns: 29px 1fr 29px;
  padding-bottom: 87px; }
  @media screen and (max-width: 767px) {
    main {
      grid-template-columns: 1fr; } }

footer {
  display: flex;
  position: absolute;
  bottom: 0;
  height: 58px;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  background: #ffffff69; }
  footer span {
    padding: 0 29px; }

code {
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text; }

.content {
  grid-column: 2; }

.hero {
  text-align: center;
  background: white;
  grid-column-start: 1;
  grid-column-end: 5; }

header {
  display: grid;
  grid-template-columns: 29px 1fr 29px;
  background: white; }

.nav {
  grid-column-start: 2;
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 58px;
  line-height: 58px; }
  .nav__logo {
    text-decoration: none;
    padding: 10px; }
    .nav__logo img, .nav__logo h1 {
      line-height: 14.5px;
      display: inline-block;
      vertical-align: top;
      font-size: 14.5px;
      width: 29px;
      padding: 5px; }
  .nav__list {
    text-align: right; }
  .nav li {
    display: inline-block;
    padding: 0 10px;
    font-family: "Roboto", sans-serif; }
    .nav li a {
      text-decoration: none; }

.home {
  grid-column-start: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 29px;
  grid-column-gap: 29px;
  grid-row-gap: 87px; }
  @media screen and (max-width: 767px) {
    .home {
      display: block; } }
  .home h2 {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 4;
    width: 100%;
    background: #444444;
    color: white; }
  .home .cta {
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: 1fr 50px 1fr;
    align-items: center;
    justify-items: center;
    background: white;
    padding-bottom: 29px; }
    .home .cta__button {
      grid-column: 1;
      color: white;
      background: #000000;
      font-size: 24px;
      padding: 24px;
      border: none; }
    .home .cta__or {
      grid-column: 2;
      align-self: baseline;
      font-size: 24px; }
    .home .cta__alternatives {
      grid-column: 3; }
      .home .cta__alternatives a {
        display: block;
        width: 100%;
        text-decoration: none; }

.card {
  grid-column-start: 1;
  grid-column-end: 2; }
  .card__form {
    background: white;
    grid-column-start: 1;
    padding: 29px; }
  .card__explanation {
    grid-column-start: 2;
    padding: 29px 58px;
    align-self: center;
    justify-self: center;
    transform: translate(-58px, 0); }
    @media screen and (max-width: 767px) {
      .card__explanation {
        width: 80%;
        margin: 0 auto;
        padding: 58px 29px;
        transform: translate(0, -58px); } }
    .card__explanation--mint {
      background: #3dc3a630; }
    .card__explanation--reddy {
      background: #a78a984d; }
    .card__explanation--white {
      background: #1812433d; }

.code {
  grid-column-start: 1;
  width: 100%;
  display: block;
  text-align: left; }
  .code__header {
    width: 100%;
    background: #D7E7E4;
    height: 20px; }
  .code__title {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    line-height: 12px;
    font-family: "Courier New", Courier, monospace;
    vertical-align: text-top;
    display: inline-block;
    color: #828282;
    padding: 0 29px;
    background: #bde2db; }
  .code__button {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin: 0 3px;
    vertical-align: text-top;
    display: inline-block; }
    .code__button--red {
      background: #F34B16; }
    .code__button--yellow {
      background: #FFE24C; }
    .code__button--green {
      background: #69D02A; }
  .code__body {
    background: white;
    width: 100%;
    display: block;
    font-family: "Courier New", Courier, monospace;
    color: #828282;
    padding: 58px; }

.feature {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 29px; }
  @media screen and (max-width: 767px) {
    .feature {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto; } }
  .feature__title {
    background: black;
    color: white;
    margin: 0; }
  .feature__sticker {
    background: white;
    border: 3px solid #EEF3F2;
    border-radius: 100%;
    transform: translate(-10%, -40%);
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Roboto", sans-serif; }
    .feature__sticker span {
      text-align: center; }
  .feature__list {
    list-style: none;
    padding: 29px; }
    .feature__list li:before {
      content: '\00b7';
      font-size: 100px;
      vertical-align: text-bottom; }
  .feature--free {
    grid-column-start: 1;
    background: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 29px; }
    @media screen and (max-width: 767px) {
      .feature--free {
        grid-row-start: 1; } }
  .feature--paid {
    grid-column-start: 2;
    background: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 29px; }
    @media screen and (max-width: 767px) {
      .feature--paid {
        grid-row-start: 2;
        grid-column-start: 1; } }

.form {
  grid-column-start: 2;
  justify-items: center;
  display: grid;
  grid-template-columns: 1fr; }

.user-form {
  width: 500px;
  max-width: 100%;
  background: white;
  padding: 29px;
  margin: 29px; }
  .user-form label {
    width: 100%;
    padding: 7.25px;
    font-size: 16px;
    font-family: "Roboto", sans-serif; }
  .user-form input {
    width: 100%;
    padding: 7.25px;
    font-size: 16px;
    font-family: "Lora", serif; }
  .user-form button {
    color: white;
    background: black;
    border: none;
    padding: 14.5px 29px;
    margin: 14.5px 0px; }

.create {
  margin-top: 29px;
  grid-column-start: 2; }
  .create__grid {
    display: grid;
    grid-template-columns: minmax(100px, auto) minmax(100px, auto);
    grid-template-rows: 200px auto;
    grid-column-gap: 29px; }
    @media screen and (max-width: 767px) {
      .create__grid {
        grid-template-columns: calc(100vw - 58px);
        grid-template-rows: 1fr 2fr 1fr;
        grid-gap: 0px; } }
  .create__input {
    width: 500px;
    max-width: 100%;
    margin: 14.5px auto;
    height: 29px;
    padding: 7.25px;
    display: block; }
  .create__action {
    padding: 14.5px;
    background-color: #626d68;
    color: #fafafa;
    text-decoration: none;
    height: 58px;
    font-weight: bold; }
  .create__picker .vc-sketch {
    display: block;
    margin: 0 auto; }
  .create__1 {
    grid-row: 1;
    grid-column: 1;
    background: white;
    padding: 29px;
    height: 200px; }
  .create__2 {
    grid-column: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    background: white;
    padding: 29px; }
    @media screen and (max-width: 767px) {
      .create__2 {
        grid-column: 1;
        grid-row: 2; } }
  .create__3 {
    grid-row: 2; }
    @media screen and (max-width: 767px) {
      .create__3 {
        grid-column: 1;
        grid-row: 3; } }

.dashboard {
  grid-column-start: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 29px; }
  @media screen and (max-width: 767px) {
    .dashboard {
      grid-template-columns: calc(100vw - 58px);
      grid-template-rows: auto auto; } }
  .dashboard #code {
    width: 500px;
    max-width: 100%;
    padding: 29px; }
  .dashboard__code {
    width: 500px;
    max-width: 100%;
    margin: auto;
    grid-column-start: 1; }
    @media screen and (max-width: 767px) {
      .dashboard__code {
        grid-row-start: 1; } }
  .dashboard__form {
    grid-column-start: 2; }
    @media screen and (max-width: 767px) {
      .dashboard__form {
        grid-row-start: 2;
        grid-column-start: 1; } }
  .dashboard__submissions {
    grid-column-start: 1;
    grid-column-end: 3;
    padding-left: 0; }
    .dashboard__submissions li {
      list-style: none;
      margin: 2.9px;
      background-color: #fafafa;
      width: 100%; }
      .dashboard__submissions li:hover {
        background: #ffffffcc; }
  .dashboard__action {
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 29px 0; }
    .dashboard__action a {
      padding: 14.5px;
      background-color: #626d68;
      color: #fafafa;
      text-decoration: none; }

.submission__link {
  height: 100%;
  width: 100%;
  text-decoration: none;
  display: block;
  padding: 14.5px; }

#copy {
  vertical-align: top;
  border-radius: 0;
  border: none; }
  #copy:focus {
    border: none;
    outline: none; }

.dash__headers, .submission__link, .submission__single {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-gap: 29px; }
  @media screen and (max-width: 767px) {
    .dash__headers, .submission__link, .submission__single {
      grid-template-columns: 1fr;
      grid-gap: 0px; } }

@media screen and (max-width: 767px) {
  .submission__link--1:before {
    content: "Query: ";
    color: black; }
  .submission__link--2:after {
    content: " leads"; }
  .submission__link--3:before {
    content: "Last submission on "; } }

.dash__date {
  font-size: 12px; }

.dash__headers {
  background: #0000001f;
  padding-left: 29px; }
  @media screen and (max-width: 767px) {
    .dash__headers {
      display: none; } }
  .dash__headers span {
    padding: 14.5px 0; }

.guide {
  display: grid;
  grid-template-columns: 300px minmax(200px, 600px) auto;
  grid-template-rows: 300px 300px auto;
  grid-gap: 29px;
  grid-column-start: 2;
  margin-top: 29px; }
  .guide__title {
    grid-column-start: 1;
    padding: 29px;
    text-align: right;
    background: white;
    color: #444444; }
  .guide__subtitle {
    grid-column-start: 1;
    grid-row-start: 2;
    padding: 29px;
    text-align: left;
    background: #00000014; }
  .guide__content {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
    color: #444444;
    padding: 29px;
    background: #ffffff5e; }

.settings {
  grid-column-start: 2;
  justify-items: center;
  display: grid;
  grid-template-columns: 1fr; }
  .settings__form {
    width: 500px;
    max-width: 100%;
    background: white;
    padding: 29px;
    margin: 29px; }
    .settings__form fieldset {
      border: none; }
    .settings__form label {
      display: block;
      width: 100%;
      padding: 7.25px;
      font-size: 16px;
      font-family: "Roboto", sans-serif; }
    .settings__form input {
      width: 100%;
      padding: 7.25px;
      font-size: 16px;
      font-family: "Lora", serif; }
  .settings__submit {
    color: white;
    background: black;
    border: none;
    padding: 14.5px 29px;
    margin: 14.5px 0px; }

.premium {
  color: red;
  font-size: 8px; }

.fa {
  display: inline-block; }
