//////////////////////////////////////////////
// Palette A
//////////////////////////////////////////////

$clr-main: #5d3137
$clr-alt: #7e4950
$clr-hlt: rgba(230, 212, 182, 0.75) 
$clr-bg: #F0F5F9
$clr-text: #777
$clr-title: $clr-main

//////////////////////////////////////////////
// Palette B
//////////////////////////////////////////////
