//////////////////////////////////////////////
// Palette A
//////////////////////////////////////////////

$clr-main: #43C6AC
$clr-alt: #43B6C6
$clr-hlt: #F8FFAE
$clr-bg: #F0F5F9
$clr-text: #777
$clr-title: $clr-main

//////////////////////////////////////////////
// Palette B
//////////////////////////////////////////////
