//////////////////////////////////////////////
// Palette A
//////////////////////////////////////////////

$clr-main: #001D2E
$clr-alt: #9aa3a2
$clr-hlt: #fbda93
$clr-bg: #EEF3F2
$clr-text: #2f2f2f
$clr-title: #ffffff

//////////////////////////////////////////////
// Palette B
//////////////////////////////////////////////
    background: -moz-linear-gradient(left, rgba(0, 29, 46, 0.75) 0%, rgba(0, 29, 45, 0.76) 20%, rgba(0, 28, 44, 0.81) 42%, rgba(0, 27, 43, 0.92) 74%, rgba(0, 27, 42, 0.94) 100%);
    background: -webkit-linear-gradient(left, rgba(0, 29, 46, 0.75) 0%, rgba(0, 29, 45, 0.76) 20%, rgba(0, 28, 44, 0.81) 42%, rgba(0, 27, 43, 0.92) 74%, rgba(0, 27, 42, 0.94) 100%);
    background: linear-gradient(to right, rgba(0, 29, 46, 0.75) 0%, rgba(0, 29, 45, 0.76) 20%, rgba(0, 28, 44, 0.81) 42%, rgba(0, 27, 43, 0.92) 74%, rgba(0, 27, 42, 0.94) 100%);
    color: #aeccd1;
