//////////////////////////////////////////////
// Component: Site
//////////////////////////////////////////////
.app
  position: relative
  min-height: 100vh
  background: $clr-bg
  +noselect
  &--mobile
    // mobile only
  &__header
    display: block
  &__body
    display: block
  &__footer
    padding: $blh $blh $blh*2 $blh
    color: #bbb
  &__section
    overflow: hidden
    padding: $blh
  &__textblock
    background: #FFFFFF
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
    border-radius: 6px
    padding: $blh
    margin: $blh

  h1,h2,h3,h4,h5
    text-align: center

.error
  background: #965151
  color: white
  text-align: center
  font-family: $font-title

.success
  background: #39535d
  color: white
  text-align: center
  font-family: $font-title

footer
  display: block
  width: 100%
