//////////////////////////////////////////////
// Component: Site
//////////////////////////////////////////////
.app
  position: relative
  min-height: 100vh
  background: $clr-bg
  //+noselect
  &--mobile
    // mobile only
  &__header
    display: block
  &__body
    display: block
    grid-column-start: 2
  &__footer
    padding: $blh $blh $blh*2 $blh
    grid-column-start: 2
    color: #bbb
  &__section
    overflow: hidden
    padding: $blh
    grid-column-start: 2
  &__textblock
    background: #FFFFFF
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
    border-radius: 6px
    padding: $blh
    margin: $blh

  h1,h2,h3,h4,h5
    text-align: center

.error
  background: #965151
  color: white
  text-align: center
  font-family: $font-title
  grid-column-start: 1
  grid-column-end: 4
  p
    height: 0

.success
  background: #39535d
  color: white
  text-align: center
  font-family: $font-title
  grid-column-start: 1
  grid-column-end: 4
  p
    height: 0

main
  display: grid
  grid-template-columns: $blh 1fr $blh
  padding-bottom: $blh * 3
  @media #{$media-max-sm}
    grid-template-columns: 1fr

footer
  display: flex
  position: absolute
  bottom: 0
  height: $blh * 2
  justify-content: center
  align-content: center
  align-items: center
  width: 100%
  background: #ffffff69
  span
    padding: 0 $blh

code
  +selecttext()

.content
  grid-column: 2
