.form
  grid-column-start: 2
  justify-items: center
  display: grid
  grid-template-columns: 1fr
.user-form
  width: 500px
  max-width: 100%
  background: white
  padding: $blh
  margin: $blh
  label
    width: 100%
    padding: $blh*.25
    font-size: $fs-base
    font-family: $font-title
  input
    width: 100%
    padding: $blh*.25
    font-size: $fs-base
    font-family: $font-text
  button
    color: white
    background: black
    border: none
    padding: $blh*.5 $blh
    margin: $blh*.5 0px

.create
  &__grid
    display: grid
    grid-template-columns: minmax(100px, auto) minmax(100px, auto) 150px
    grid-column-gap: $blh
    @media #{$media-max-sm}
      grid-template-columns: calc(100vw - 58px)
      grid-gap: 0px

  &__action
    height: $blh * 2
    padding: $blh
