.user-form
  width: 500px
  max-width: 100%
  background: white
  padding: $blh
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  label
    width: 100%
    padding: $blh*.25
    font-size: $fs-base
    font-family: $font-title
  input
    width: 100%
    padding: $blh*.25
    font-size: $fs-base
    font-family: $font-text
  button
    color: white
    background: black
    border: none
    padding: $blh*.5 $blh
    margin: $blh*.5 0px
