///////////////////////////
// HOME (grid)
///////////////////////////
.home
  &__form
  &__code
    width: 100%
    max-width: 500px
    margin: auto
    display: block
  &__try
    margin: auto
    display: block
.code
  &__header
    width: 100%
    background: #D7E7E4
    height: 20px
    span
      font-family: $font-title
      font-size: $fs-base*.75
      line-height: $fs-base*.75
      font-family: "Courier New", Courier, monospace
      vertical-align: text-top
      display: inline-block
      color: #828282
      padding: 0 $blh
      background: #bde2db
  &__button
    &--red
      width: 10px
      height: 10px
      border-radius: 100%
      margin: 0 3px
      vertical-align: text-top
      display: inline-block
      background: #F34B16
    &--yellow
      width: 10px
      height: 10px
      border-radius: 100%
      margin: 0 3px
      vertical-align: text-top
      display: inline-block
      background: #F34B16
      background: #FFE24C
    &--green
      width: 10px
      height: 10px
      border-radius: 100%
      margin: 0 3px
      vertical-align: text-top
      display: inline-block
      background: #F34B16
      background: #69D02A
  &__body
    background: white
    width: 100%
    display: block
    font-family: "Courier New", Courier, monospace
    color: #828282
///////////////////////////
// CARD
///////////////////////////
.card
  background: white
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
  margin-top: $blh
  &__title
    background: black
    color: white
    margin: 0
  &__sticker
    background: white
    border: 3px solid $clr-bg
    border-radius: 100%
    transform: translate(-10%, -40%)
    width: 100px
    height: 100px
    display: flex
    align-items: center
    justify-content: center
    float: right
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
    font-family: $font-title
    span
      text-align: center
  &__features
    list-style: none
    padding: $blh
    li:before
      content: '\00b7'
      font-size: 100px
      vertical-align: text-bottom
  &__arrow
    grid-row-start: 1
    grid-column-start: 2
    transform: translate(50%, 200px)
    z-index: -1
  &--free
    grid-row-start: 1
    grid-column-start: 2
  &--paid
    grid-row-start: 2
    grid-column-start: 2

////////////////////////////////
// HERO
////////////////////////////////
.hero
  width: 100%
  display: block
  background: white
  text-align: center
  padding-bottom: $blh
  margin-bottom: $blh
  img
    width: 500px
    max-width: 100vw
  h2
    padding-top: $blh
.instruction
  &__circle
    position: absolute
    right: 50px
    background: #eef3f2
    border-radius: 100%
    width: 100px
    height: 100px
    display: inline-block
    vertical-align: top
    border: 10px solid #fafece
  &__number
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-65%, -50%)
    font-size: $fs-base * 4
    font-family: "Roboto", sans-serif
    font-style: italic
  &__step
    display: inline-block
    font-size: $fs-base * 2
    background: #FAFECE
    line-height: 100px
    vertical-align: middle
    padding: 0 50px
    width: 100%
