<form action="/users/settings" method="POST" class="settings__form">
  <fieldset>
    <label for="rate">Plan: Basic  <a class="premium" href="/upgrade">Upgrade</a></label>
  </fieldset>
  <fieldset>
    <label for="rate">Mail Rates</label>
    <select name="rate" id="rate">
      <option value="daily" <% if(user.rate == "daily") { %>selected<% } %> >Daily</option>
      <option value="none"<% if(user.rate == "none") { %>selected<% } %> >None</option>
    </select>
  </fieldset>
  <fieldset>
    <label for="mailto">Mail to</label>
    <input name="mailto" id="mailto" type="email" value="<%= user.mailto %>"/>
  </fieldset>
  <fieldset>
    <label for="subscribed">Currently, we have no way to sign pros up. So just check the box to get access to pro for free.</label>
    <input type="checkbox" id="subscribed" name="subscribed" value="true" <% if(user.subscribed) { %>checked<% } %> />
  </fieldset>
  <button type="submit" class="settings__submit">Save</button>
</form>
